################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/EmployeeManagementSystem/.vs/EmployeeManagementSystem
/api/EmployeeManagementSystem/bin/Debug/net6.0
/api/EmployeeManagementSystem/obj
/api/EmployeeManagementSystem/EmployeeManagementSystem.csproj.user
