.employee-card {
    margin: 20px;
  }
  
  .employee-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .employee-table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-cell {
    text-align: center;
  }
  
  button {
    margin-right: 10px;
  }
  
  button:last-child {
    margin-right: 0;
  }
  